@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}
@media only screen and (min-width: 1200px) {


    .App{
        width: 80em;
        display: flex;
        flex-flow: row wrap ;
        justify-content: left;
        align-items: flex-start;
        max-height: 32.375em;
        margin-top: 15.8125em;
    
        
    }
}